/*

██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

Waybar Config File by Arfan Zubi

*/

@import url("./macchiato.css");

* {
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    color: @text;
    background: transparent;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
    border-radius: 0.5rem;
}

#workspaces {
    background-color: rgba(54, 58, 79, 0.6);
    margin: 5px 0 0 0.5rem;
}

#workspaces button {
    color: @text;
    padding: 0.5rem;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button:hover {
    color: @lavender;
    background: @surface1;
    border-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#language,
#custom-lock,
#custom-power {
    background-color: rgba(54, 58, 79, 0.6);
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 0.5rem;
}

#pulseaudio {
    color: @maroon;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-left: 1rem;
}

#backlight {
    color: @yellow;
}

#battery,
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#language {
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    color: @red;
}
