/*

██╗    ██╗ ██████╗ ███████╗██╗
██║    ██║██╔═══██╗██╔════╝██║
██║ █╗ ██║██║   ██║█████╗  ██║
██║███╗██║██║   ██║██╔══╝  ██║
╚███╔███╔╝╚██████╔╝██║     ██║
 ╚══╝╚══╝  ╚═════╝ ╚═╝     ╚═╝

Wofi Config File by Arfan Zubi

*/

window {
    padding: 50px;
    background-color: #1E1E2E;
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    color: #CDD6F4;
    background-color: #313244;
    border: none;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #8AADF4;
}

#text {
    color: #CDD6F4;
}

#text:selected {
    color: #1E1E2E;
}
